page-trahangdetail {
    .item-profile {
        width              : 100%;
        background-position: center center;
        background-size    : cover;
        height             : 250px;
    }

    .action-sheet-group {
        overflow: hidden;
    }

    .hid {
        overflow: hidden;
    }
}
